body {
    background-color: rgb(87, 155, 102);
}

header, footer {
  background: #3b3b3b;
  color: #ffffff;
  font-family: verdana;
  padding: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
    font-size: 40px;
    padding-top: 30px;

}

body, h1 {
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-family: verdana;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

input, select, button {
    text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px
}

nav a {
  color: #ffffff;
  margin-right: 16px;
  text-decoration: none;
  font-family: verdana;
}

.input-container { /* Container for the imput elements (city, state, button) */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px
}

.output-container { /* Container for the output elements (city, state, button) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    gap: 10px;
}